body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 150px;
}
.half-a-section{
    width: 50%;   
}
.image{
    width: 80%;
    padding: 0 5%;
}
.text-part{
    padding: 0 5%;
    text-align: justify;
    width: 40%;
}
.text-color{
    color: #ff6600
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
    background-image: linear-gradient(#fc4949,#f8c86e);
    border-radius: 10px;
}
.hire-me{
    margin: 10px 0;
}
.second-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.third-section{
     padding-bottom: 150px; 
}
.pt3-header{
    padding: 0 5%; 
}
.card-part{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    justify-content: space-between;
    padding: 0 5%;
}
.card{
    border-left: 5px solid ;
    border-image: linear-gradient(red, blue) 1 ;
    box-shadow: 5px 5px 30px gray;
    width: 40%;
    padding: 20px;
}
footer{
    text-align: center;
}
